<footer>

    <p>&copy; 2023 Bakery</p>
    <section class="phones">
        <a href="tel:+1234567890">+1 234 567 890</a>
        <a href="tel:+1234567890">+1 234 567 890</a>
    </section>
    </section>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

</footer>